{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Este es un hermoso Paisaje</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Earum quam qui, saepe impedit porro iure, modi quis vel facilis 
            soluta quo corporis pariatur architecto totam? Deleniti totam doloribus omnis atque!
        </p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/rojo.jpg" alt="paisaje">
    </div>
</div>

{{> footer }}